# dependencies
node_modules

# next.js
web/.next

# production
packages/**/dist/**

# misc
.DS_Store
/art/*.png

# debug
npm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turborepo
.turbo
